<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.tarides.ocluster.monitor</string>
	<key>EnvironmentVariables</key>
	<dict>
                <key>PATH</key>
                <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>{{ ansible_env.HOME }}/monitor.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{ ansible_env.HOME }}/monitor.log</string>
	<key>StandardOutPath</key>
	<string>{{ ansible_env.HOME }}/monitor.log</string>
	<key>WorkingDirectory</key>
	<string>{{ ansible_env.HOME }}</string>
</dict>
</plist>
