---

- hosts: all
  tasks:
  - name: Check architecture intel
    set_fact: homebrew_prefix="/usr/local"
    when: ansible_architecture == "x86_64"

  - name: Check architecture arm
    set_fact: homebrew_prefix="/opt/homebrew"
    when: ansible_architecture == "arm64"

  - debug:
      var: homebrew_prefix

- hosts: all
  name: Install Roles
  roles:
    - macos
    - homebrew
    - docker
    - zfs
    - ocaml
    - { role: base-image, version: "4.14.2", user_name: mac1000, zfs_pool: "obuilder", default: false }
    - { role: base-image, version: "5.1.1", user_name: mac1000, zfs_pool: "obuilder", default: false }
    - { role: base-image, version: "5.2.0", user_name: mac1000, zfs_pool: "obuilder", default: true }
    - { role: base-image, version: "5.3.0~alpha1", user_name: mac1000, zfs_pool: "obuilder", default: false }
    - { role: base-image, version: "5.4.0+trunk", user_name: mac1000, zfs_pool: "obuilder", default: false }
    - { role: busybox, user_name: mac1000, zfs_pool: "obuilder" }
    - ocluster
    - monitor
  environment:
    PATH: '{{ ansible_env.HOME }}/zfs/bin:{{ homebrew_prefix }}/bin:{{ ansible_env.PATH }}'

