---

- name: Create monitor script
  template:
    src: monitor.sh
    dest: "{{ ansible_env.HOME }}/monitor.sh"
    mode: '0755'

- name: Create plist service file
  template:
    src: com.tarides.ocluster.monitor.plist
    dest: "/Library/LaunchDaemons/com.tarides.ocluster.monitor.plist"
    owner: root
    group: wheel
    mode: '0644'
  become: yes

- name: Stop ocluster via launchctl
  shell: launchctl unload /Library/LaunchDaemons/com.tarides.ocluster.monitor.plist
  become: yes
  register: launchctl_check
  failed_when: not ( launchctl_check.rc == 134 or launchctl_check.rc == 0 )

- name: Start ocluster via launchctl
  shell: launchctl load /Library/LaunchDaemons/com.tarides.ocluster.monitor.plist
  become: yes

