---

- name: Create plist service file
  template:
    src: com.tarides.ocluster.worker.plist
    dest: "/Library/LaunchDaemons/com.tarides.ocluster.worker.plist"
    owner: root
    group: wheel
    mode: '0644'
  become: yes

- name: Stop ocluster via launchctl
  shell: launchctl unload /Library/LaunchDaemons/com.tarides.ocluster.worker.plist
  become: yes
  register: launchctl_check
  failed_when: not ( launchctl_check.rc == 134 or launchctl_check.rc == 0 )

- name: Remove ~/ocluster
  file:
    path: "{{ ansible_env.HOME }}/ocluster"
    state: absent

- name: Download the source from GitHub
  git:
    repo: https://github.com/ocurrent/ocluster.git
    dest: "{{ ansible_env.HOME }}/ocluster"
    force: yes

- name: Dune build
  shell: eval $(opam env) && dune build --release
  args:
    chdir: "{{ ansible_env.HOME }}/ocluster"

- name: Copy pool capability
  copy:
    src: "secrets/pool-macos-{{ ansible_architecture }}.cap"
    dest: "{{ ansible_env.HOME }}/pool-macos-{{ ansible_architecture }}.cap"
    mode: '0400'

- name: Remove ocluster.log
  become: yes
  file:
    path: "{{ ansible_env.HOME }}/ocluster.log"
    state: absent

- name: Start ocluster via launchctl
  shell: launchctl load /Library/LaunchDaemons/com.tarides.ocluster.worker.plist
  become: yes

