<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.tarides.ocluster.worker</string>
	<key>EnvironmentVariables</key>
	<dict>
                <key>PATH</key>
                <string>{{ ansible_env.HOME }}/zfs/bin:{{ homebrew_prefix }}/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
                <string>./_build/install/default/bin/ocluster-worker</string>
                <string>--connect</string>
                <string>{{ ansible_env.HOME }}/pool-macos-{{ ansible_architecture }}.cap</string>
                <string>--uid=1000</string>
                <string>--brew-path={{ homebrew_prefix }}</string>
                <string>--store=zfs:/Volumes/obuilder</string>
                <string>--state-dir=/var/lib/ocluster-worker</string>
                <string>--name={{ inventory_hostname_short }}</string>
                <string>--capacity=1</string>
                <string>--obuilder-prune-threshold=10</string>
                <string>--obuilder-healthcheck=0</string>
                <string>--verbosity=info</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{ ansible_env.HOME }}/ocluster.log</string>
	<key>StandardOutPath</key>
	<string>{{ ansible_env.HOME }}/ocluster.log</string>
	<key>WorkingDirectory</key>
	<string>{{ ansible_env.HOME }}/ocluster</string>
</dict>
</plist>

