---
- name: Install ZFS 
  include: ./zfs.yml
- name: Initialise opam
  command: opam init -y
  register: opaminit
- debug: msg="{{ opaminit }}"
- name: Pin opam-sysinstall
  command: "opam pin add opam-sysinstall git+https://github.com/patricoferris/opam-sysinstall --yes"
- name: Install opam
  command: opam install opam-sysinstall --yes
- name: Opam System Compilers Directory
  file:
    path: "{{ ansible_env.HOME }}/ocaml"
    state: directory
- name: Install a system compiler
  command: opam exec -- opam sysinstall build --latest=1 --prefix="{{ ansible_env.HOME }}/ocaml" --jobs=4
- name: Get OBuilder
  command: "opam exec -- opam pin add git+https://github.com/patricoferris/obuilder#macos --yes"
- name: OBuilder
  command: opam exec -- obuilder version
  register: obuilderverion
- debug: msg="{{ obuilderverion }}"
- name: Get OBuilder-fs
  command: "git clone https://github.com/patricoferris/obuilder-fs {{ ansible_env.HOME }}/obuilder-fs"
- name: Install OBuilder-fs
  command:
    cmd: make
    chdir: "{{ ansible_env.HOME }}/obuilder-fs"
- name: Print information
  cmd: "{{ ansible_env.HOME }}/obuilder-fs/install/obuilderfs --help"
  register: obuilderfs
- debug: msg="{{ obuilderfs }}"